extends layout

block content
  h1= title
  - var image_names = ["tastyfood_1.jpeg", "tastyfood_2.jpeg", "tastyfood_3.jpeg", "tastyfood_4.jpeg", "tastyfood_5.jpeg"]
  - for (let j = 0; j < 3; j++)
    - let rand = Math.floor(Math.random() * 5)
    img(src=`/images/${image_names[rand]}` alt=`${rand}` height="300px" width="300px")



