// Handle building the view for updating a costume.
// query provides the id
exports.tastyFood_update_Page = async function(req, res) {
  console.log("update view for item " + req.query.id);
  try {
    let result = await TastyFood.findById(req.query.id);
    res.render('tastyFoodupdate', { title: 'TastyFood Update', toShow: result });
  } catch (err) {
    res.status(500);
    res.send(`{'error': '${err}'}`);
  }
};