extends layout

block content
  h1= title

  - let tastyFoodid = toShow._id
  - let taste = toShow.taste
  - let texture = toShow.texture
  - let temperature = toShow.temperature

  div.row(class='mb-2')
    div.mr-1 ID is
    div #{tastyFoodid}

  - let actionid = "/resource/tastyFood/" + tastyFoodid

  form(id='TastyFoodForm', action= actionid, method="PUT")
    div.form-group
      label.tastyFoodAttr(for='taste') TastyFood taste
      input#taste(type='String', name='taste', value= taste)

    div.form-group
      label.tastyFoodAttr(for='texture') TastyFood texture
      input#texture(type='String', name='texture', value= texture)

    div.form-group
      label.TastyFoodAttr(for='temperature') TastyFood temperature
      input#temperature(type='number', name='temperature', value= temperature)

    input(type="submit")

  script.
    document.forms['TastyFoodForm'].addEventListener('submit', (event) => {
      event.preventDefault();
      // TODO do something here to show the user that the form is being submitted
      fetch(event.target.action, {
        method: 'PUT',
        body: new URLSearchParams(new FormData(event.target)) // event.target is the form
      }).then((resp) => {
        return resp.json(); // or resp.text() or whatever the server sends
      }).then((body) => {
        alert("Update succeeded");
        // TODO handle body
      }).catch((error) => {
        // TODO handle error
        alert("Update failed " + error);
      });
    });
    