body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.tastyFoodAttr {
  background-color: rgb(211, 241, 16);
  width: 120px;
  }
  
  #TastyFoodForm {
    background-color:rgb(155, 14, 237);
    width: 325px;
  }
  
  h1{
    color: rgb(218, 29, 164);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  